@import "../mixin.scss";

.projectSection {
  padding: 3rem 9rem;
  background-color: black;
  color: white;
  .projectHeading {
    @include Flex();
    justify-content: flex-start;
    gap: 2rem;
    h2 {
      margin: 0;
      font-size: 4rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      background: linear-gradient(
        93.61deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0.6) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .triangleContainer {
      display: flex;
      //   width: 1000px;
      height: 80px;
      flex-direction: column;

      .triangleFilled {
        position: relative;
        top: 20px;
        z-index: 5;
      }
      .triangleBordered {
        position: relative;
        // transform: translateX("200px");
        top: 0px;
        // transform: translateY("10px");
        z-index: 3;
      }
    }
  }

  .projectContainer {
    padding: 2rem 4rem;
    .projectCardContainer {
      display: flex;
      margin: 2rem 0;
      .count {
        position: absolute;
        list-style: none;
        right: 170px;
        height: 180px;
        font-size: 10rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: black;
        letter-spacing: 8px;
        background: linear-gradient(#ffffff 0%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-stroke: 7px transparent;
        z-index: 6;
      }
      .outerCard {
        width: 100%;
        height: 550px;
        margin-top: 5rem;
        @include Flex();
        justify-content: flex-end;
        align-items: flex-start;
        background: linear-gradient(
          160.26deg,
          rgba(255, 255, 255, 0) 28.68%,
          #ffffff 47.08%,
          rgba(255, 255, 255, 0) 67.2%
        );

        .innerCard {
          width: 99.7%;
          height: 545px;
          background: #000;
          display: flex;
          //   padding: 0rem 1rem;

          .projectCard {
            // height: 100%;
            width: 100%;
            display: flex;
            background-color: white;
            color: #000;
            margin: 2rem;
            z-index: 8;
            .projectLeft {
              width: 40%;
              background-color: #ff5858;
              @include Flex();
              a {
                @include Flex();
              }

              img {
                width: 95%;
              }
            }
            .projectRight {
              width: 60%;
              padding: 3rem 4rem;
              display: flex;
              flex-direction: column;

              h3 {
                margin: 2rem 0;
                font-weight: 800;
                font-size: 3.5rem;
              }
              a {
                color: #000;
                font-weight: 500;
                font-size: 1.3rem;
                margin: 1rem 0 2rem 0;
              }
              p {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
